# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components.d.ts
*.xlsx
*.ipynb
weixin/
coverage/
IFLOW.md
INTRO.md
server/.env
src-tauri/sidecar/dna_mcp_server-x86_64-pc-windows-msvc.exe
.claude/
src/game/*.md
.moonagent/
.trae/
tools/i18n_diff.json
externals/dna-api/java/
.env
public/imgs/map
.opencode/skills/
src-tauri/gen/android/keystore.properties
docs/
externals/dna-api/js/
tools/radix-icons/
